.ebook-flip{
    top: 10px;
    display: flex;
    height: 80%;
    width: 90%;
    position: absolute;
    background: transparent;
    z-index: 2;
    transition : transform 1s;
}
  
.ebook-flip:active {
    transform: rotateY(180deg);
}

.ebook-page{
    background: yellow;
    width: 100%;
    height: auto;
}

  