.app-header{
	display: flex;
	flex-direction : row-reverse;
	height: 2.8em;
  background-color: #79ad79;
}

.app-body{
	background-color :	#99c7ff;
	padding: 1em;
	min-height: 100vh;
}

.app-footer{
	background: black;
	color: #cecece;
	padding: 1em;
}

.app-footer_copyright{
	display: flex;
	justify-content: center;
}
